.carousel_item {
  height: 80vh;
  height: 530px;
  width: 100%;
  position: relative;
  background-color: #fff;
  .content {
    z-index: 999;
    position: relative;
  }
  & .bg_blr {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

